{% extends "base.html" %}


{% block title %}{{ object.full_name }}{% endblock %}


{% block content %}
  <h2>{{ object.full_name }}</h2>
  {% if object.photo %}
  <div class="headshot">
      <img src="{{ object.photo.url }}" alt="Profile Picture" width="150px" />
  </div>
  {% endif %}
  <dl class="role">
      <dt class="position">{{ object.role.position }}</dt>
      <dd class="description">{{ object.role.description }}</dd>
  </dl>
  <div class="bio">{{ object.bio|linebreaks }}</div>
{% endblock %}


