{% extends "thespians/base_people.html" %}


{% block title %}Cast and Crew{% endblock %}


{% block content %}
  <div class="link_list profiles">
  {% for person in object_list %}
      {% if person.photo %}
        <div class="photo">
            <a href="{{ person.get_absolute_url }}">
                <img src="{{ person.photo.url }}" alt="Profile Picture" height="100px" />
            </a>
        </div>
      {% endif %}
    <h3><a href="{{ person.get_absolute_url }}">{{ person.full_name }}</a></h3>
    <p class="role">{{ person.role.position }}: {{ person.role.description }}</p>
  {% endfor %}
  </div>
{% endblock %}
